__pycache__
*.pyc
/.coverage 
/.pytest_cache 

/envdir/*
!/envdir/.gitkeep
/.tox

/static/*
!/static/.gitkeep

{%- if cookiecutter.use_drifter == 'y' %} 
 
vagrant_ansible_inventory_default 
.vagrant 
/virtualization/playbook.retry 
{%- endif %}
