{% load cms_tags %}
{% load sekizai_tags %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>

    {# In development, stylesheets are injected by webpack-dev-server #}
    {% if not webpack_dev_server %}
    <link rel="stylesheet" type="text/css" href="{% static "dist/common.css" %}">
    {% endif %}
    {% render_block "css" %}
  </head>
  <body>
    {% cms_toolbar %}
    {% block body %}
    It works!
    {% endblock %}

    <script type="text/javascript" src="{% static 'common.js' %}"></script>
    {% render_block "js" %}
  </body>
</html>
